{% extends "music/index.html" %} 

{% load staticfiles %}

{% block title %} <title>Music App | Login</title> {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'music/login.css' %}"> {% endblock %}

{% block navbar %} {% endblock %}

{% block content  %}
    <div class="cs-login-screen">
        <div class="container">
            <div class="row justify-content-lg-center cs-login-container">
                <div class="col-lg-4">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                        <div class="cs-group-login-btn">
                            <button type="submit" class="btn btn-default cs-login-btn">Sign in</button>
                            <a href="/" class="btn btn-default cs-cancel-btn">Cancel</a>
                        </div>
                    </form>
                    <hr class="cs-login-line"/>
                    <p class="cs-signup-text">
                        Don't have an account ? Sign up here
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <p class="cs-footer-text">Created by @RidoNst</p>
    </nav>
{% endblock %}