{% extends "music/index.html" %} 

{% load staticfiles %}

{% block title %} <title>Music App | Sign Up</title> {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'music/signup.css' %}"> {% endblock %}

{% block navbar %} {% endblock %}

{% load widget_tweaks %}

{% block content %} 

<div class="cs-signup-screen">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-7">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label }}" class="col-lg-4 col-form-label cs-label-field">{{ field.label }}</label>
                            <div class="col-lg-8">
                                {% render_field field class='form-control' %}
                            </div>
                            <div class="col-lg-10 cs-text-error">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <div class="col-lg-2">
                                <input type="submit" class="btn btn-outline-info btn-block" value="Sign Up" />
                            </div>
                            <div class="col-lg-2">
                                <input type="submit" class="btn btn-outline-warning btn-block" value="Cancel" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}