body {
    background-image: url('../../static/music/picture/headset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    color: white;
}

.form-group {
    margin-bottom: 0.75rem;
}

.form-control {
    border-radius: 0;
}

input:focus {
    outline: none;
}

/* custom css - new class name */

.cs-login-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #2b3137;
    opacity: 0.8;
}

.cs-login-container {
    margin-top: 20vh;
    z-index: 100;
}

.cs-group-login-btn {
    margin-top: 25px;
}

.cs-login-btn {
    border: 0.1px solid white;
    background-color: #2b3137;
    border-radius: 0;
    color: white;
}

a.cs-cancel-btn {
    border-width: 0.1px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
    color: white;
}

p.cs-footer-text {
    position: relative;
    top: 10px;
    font-size: 12px;
}

.cs-login-line {
    margin-top: 30px;
    background-color: #E9ECF0;
}

.cs-signup-text {
    text-align: right;
    color: #E9ECF0;
    font-size: 12px;
}

.cs-text-error {
    margin-top: 0.2rem;
    color: white;
    font-size: 12px;
}