body {
    background-image: url('../../static/music/picture/old-hunington.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 10vh;
}

form {
    margin: 25px 0 20px 0;
}

.form-group {
    margin-bottom: 0.7rem;
}

.form-control {
    border-radius: 0;
}

textarea {
    height: 5em;
}

/* the same with login.css, need to refactoring in the near future */

.cs-signup-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #2b3137;
    opacity: 0.87;
    z-index: -100;
}

.cs-signup-box {
    background-color: #FAFAFA;
    border-bottom: 4px solid #99A3A4;
    border-top: 12px solid #99A3A4;
}

.cs-signup-btn {
    border: 0.1px solid black;
    background-color: white;
    border-radius: 0;
}

a.cs-cancel-btn {
    border-width: 0.1px;
    border-style: solid;
    border-color: black;
    border-radius: 0;
    color: black;
}

.cs-text-error {
    color: red;
    font-size: 12px;
}