.cs-content {
    margin-top: 25px;
}

.cs-section-header {
    height: 50px;
    padding: 5px;
    margin-bottom: 15px;
    /* background-color: bisque; */
}

.cs-btn-add {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.cs-btn-add:hover {
    background-color: black;
    color: white;
}

.cs-form-add {
    padding: 25px;
    /* background-color: aquamarine; */
    margin-bottom: 15px;
    background-image: url('./picture/guitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cs-label-field {
    color: white;
}

.form-group {
    margin-bottom: 25px;
}